*{
	margin: 0;
	padding: 0;
body {
	width: 100%;
	height: 100%;
}
}
section{
	/* background-color: #f9f7f3; */
	 width: 100%;
}

.banner-picture {
	max-width: 100%;
	width: 100%;

}

.background{
	background-size: auto;
}
.banner-picture{
	   width: 100%;
    height: auto;
}


.banner-ten{
	font-family: forte;
}
.slogan{
	font-size: 25px;
}
h1{
	text-align: center;
	font-size: 50px;
	margin-top: 60px;
	font-family: sans-serif;
}
.spnoibat ul {
	text-align: center;
	margin-bottom: 4px;
}
p{
	text-align: center;
	font-size: 20px;
}
.spnoibat li{
	list-style: none;
	display: inline-block;
	margin: 20px;
	padding: 14px;
	padding-bottom: 6px;
/*	background-color: #f9f7f3; */
	border: 1px solid black;
	border-radius: 3px;
}
.spnoibat li:hover{
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
}
.content a{
	text-align: center;
}
a {
	text-decoration: none;
}
.anhsp {
	width: 25vw;
	height: 27vw;
	
}
.sp{
	text-align: center;
}
.item-title{
	margin-top: 10px;
}
.order-online ul{
	text-align: center;
}
.order-online li{
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 50px;
}
.icon{
	height: 100px;
	width: auto;
}
.order{
	text-align: center;
}
.order a{
	text-align: center;
	font-size: 15px;
	padding: 10px;
	border:1px solid black;
	border-radius: 4px;
	color: black;
}
.order a:hover{
	background-color:white;
	color:black;
}
.tintuc ul{
	list-style: none;
	margin-left: 5%;
	margin-bottom: 0;
}
.tintuc li{
	width: 200px;
	margin: 70px;
	display: inline-block;

}
.anhtintuc{
	width: 300px;
	height: 150px;
}
.tintuc p{
	text-align: left;
	font-size: 13px;
}
.tintuc h3{
	font-size: 24px;
	width: 300px;
}
.menu{
	z-index: 1;
}
button{
   	padding: 4px 7px;
   	border: 1px solid black;
   	border-radius: 3px;
   	background-color: white;
}
button:hover{
	/*color: white;*/
	/*border: gray solid 2px;*/
	background-color: #FFF8DC;
}
.sp a{
	font-size: 15px;
}
.sp a{
	padding: 10px;
	border:1px solid black;
	border-radius: 4px;
	color: black;
}
.sp a:hover{
	background-color:white;
	color:black;
}



@media screen and (max-width: 850px) {
h1{
	font-size: 35px;
}
p{
	font-size: 18px;
}
 .icon{
 	height: 65px;
 }
 .spnoibat li{
 	list-style: none;
	display: inline-block;
	text-align: center;
	/* margin: 50px; */
 }
 .banner{
 	display: none;
	background-image: url(https://img4.thuthuatphanmem.vn/uploads/2020/12/25/background-tinh-yeu-ca-phe_034404670_thumb.jpg);
 }
 .tintuc li{
	list-style: none;
	display: inline-block;
	/*text-align: center;*/
	margin: 50px;
 }
 .anhsp{
 	width: 160px;
 	height: 190px;
 }
 .anhtintuc{
 	width: 270px;
 	height: 135px;
 }
 .tintuc h3{
	font-size: 24px;
	width: 270px;
}
}