@font-face {
  font-family: Raleway;
  src: url("../Raleway-4.101/static/WOFF2/Raleway-Medium.woff2") format("woff2"),
    url("../Raleway-4.101/static/WOFF/Raleway-Medium.woff") format("woff"),
    url("../Raleway-4.101/static/TTF/Raleway-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  background-color: #e3caa5;
}

/* top navbar start */

header {
  height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #000;
  background-color: #ad8b73;
}

.logo {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 5%;
}

.menu {
  display: flex;
  width: 60%;
  justify-content: end;
}
.menu a {
  padding: 0 20px;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.mainLogoHidden {
  display: none;
}

/* top navbar end */

/* sidenav start */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ad8b73;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2px;
}

#mySidenav > a:nth-child(2) {
  padding: 6px 0 7px 20px;
  border-bottom: 1px solid #000;
}

.sidenav > a:not(second-child) {
  padding: 55px 8px 25px 40px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  display: block;
  text-transform: capitalize;
  text-align: left;
}

.sidenav a:hover,
.menu a:hover,
.openbtn:hover {
  transition: 0.2s;
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #000;
}

.openbtn {
  font-size: 36px;
  color: #000;
  padding: 0 15px;
  border: none;
  display: none;
  text-decoration: none;
}

/* sidenav end */

@media screen and (max-width: 850px) {
  .logo {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .logo a:nth-child(1) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
  .logo a:nth-child(2) {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .menu {
    display: none;
  }
  .openbtnHide {
    color: #dac6b6;
  }
}

@media screen and (max-height: 850px) {
  .sidenav a {
    font-size: 18px;
  }
}

/* footer start */

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid #000;
  padding: 1% 0 0.5% 0;
  height: 300px;
  background-color: #ad8b73;
}

footer div {
  text-align: center;
}

footer div:nth-child(1) {
  width: 45%;
}

footer div:nth-child(1) img {
  width: 60%;
}

footer div:nth-child(1) p,
footer div:nth-child(1) i {
  font-style: italic;
  color: #000;
}

footer div:nth-child(2) {
  width: 55%;
  text-align: left;
  padding: 2% 2%;
  border-left: 1px solid #000;
}

footer div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

footer div:nth-child(2) div a {
  display: block;
}

footer div:nth-child(2) p:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 1%;
  height: 100%;
}

footer div:nth-child(2) a {
  display: block;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

footer div:nth-child(3) {
  width: 100%;
  border-top: 1px solid #000;
  margin: 0 20%;
  padding-top: 2%;
}

@media screen and (max-width: 850px) {
  footer div:nth-child(1) {
    width: 100%;
    padding: 0;
  }

  footer div:nth-child(2) {
    width: 100%;
    text-align: center;
    border: none;
  }
}

@media screen and (max-height: 1000px) {
  footer {
    height: 50px;
  }
  footer > div:nth-child(2),
  footer > div:nth-child(1) {
    display: none;
  }
  footer > div:nth-child(3) {
    border: none;
  }
}

@media screen and (min-width: 851px) {
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #d0b8a8;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dfd3c3;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #967e76;
  }
}
